<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:replace="~{fragments :: head}">
    <title>Foto Album - Home</title>
</head>
<body>
<!--<nav th:replace="~{fragments :: navbar(home, false, searchcontent)}"></nav>-->
<div class="container-lg">
    <h1 class="text-white text-center my-5">Welcome!</h1>
    <div class="text-center">
        <a class="btn btn-dark" th:href="@{/photos}">Log In</a>
    </div>
</div>

</body>
</html>